img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.temperture{
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}
.description{
    font-size: 24px;
    margin-bottom: 20px; 
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}